* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Structure principale avec sidebar et contenu */
.container {
  display: grid;
  grid-template-columns: 20% 1fr;
  height: 100vh;
}

/* Sidebar */
#perso {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border: solid black 1px;
  border-radius: 8px;
}

#perso > * {
  margin-right: 1%;
  margin-left: 1%;
}

#photoprofile {
  margin-top: 1%;
  width: 75%;
  height: 75%;
}

#informationperso > img {
  margin-right: 1%;
  max-width: 10%;
  max-height: 5%;
}

/* Contenu principal */
#main-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Sections */
.section {
  margin-bottom: 30px;
}

/* Grid dans chaque section */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Deux colonnes */
  gap: 10px; /* Espace entre les divs */
}

.grid-item {
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  border: solid black 1px;
  margin-bottom: 10px;
  background-color: #ccc;
}

.grid-item{
  display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
  align-items: center; /* Centre verticalement les éléments dans la div */
  gap: 20px; /* Espacement entre l'image et le texte */
}

.div-description {
  max-width: 600px;
  width: 50%;
  margin: 0 auto;
}

.image {
  width: 15%; /* Ajuste la taille de l'image */
  height: auto; /* Garde les proportions de l'image */
}
