* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100svh;
  background-image: url("../img/space-purple.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.divTitle{
  text-align: center;
  margin: 20px 0;
}

.title{
  display: inline-block; /* Permet au fond de s'adapter à la taille du texte */
  background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
  color: white;
  padding: 10px 15%;
  border-radius: 5px; /* Coins arrondis */
}

.InfoTop{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, .7);
  margin: 1%;
  padding: 1%;
  border-radius: 20px;
}

.pp>img{
  margin-right: 1%;
  border-radius:100%;
  height: 150px;
  width: 150px;
}

.quiSuije{
  margin: 1%;
  border: solid white 2px;
  color: white;
  border-radius: 10px;
}

#description{
  font-size: large;
  margin: 1%;
}

nav{
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, .7);
  padding: 1%;
  margin: 1%;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

nav>a{
  text-decoration: none;
  color: white;
  padding: 0.5%;
}

nav>a:hover{
  background-color: #555;
  border-radius: 5px;
  color: black;
}

/* Contenu principal */
#main-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Sections */
.section {
  margin-bottom: 30px;
  color: white;
}

/* Grid dans chaque section */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Deux colonnes */
  gap: 10px; /* Espace entre les divs */
}

.grid-item {
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  border: solid black 1px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.grid-item{
  display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
  align-items: center; /* Centre verticalement les éléments dans la div */
  gap: 20px; /* Espacement entre l'image et le texte */
}

.grid-item:hover{
  transition: 0.5s ease-in-out;
  scale: 1.02;
}

.div-description {
  max-width: 600px;
  width: 50%;
  margin: 0 auto;
  color: white;
}

.image {
  width: 15%; /* Ajuste la taille de l'image */
  height: auto; /* Garde les proportions de l'image */
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1%;
  border-radius: 5px;
}

#radimg{
  border-radius: 10px;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

footer>a>img{
  max-width: 100px;
  max-height: 100px;
  padding-left: 1%;
  padding-right: 1%;
}

.lienFormation{
  text-decoration: none;
}

.grid-item-skill {
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.hardskillelt{
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 1%;
  padding: 3%;
}

.softskillelt{
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 1%;
  padding: 3%;
}

.skillimage{
  width: 15%; /* Ajuste la taille de l'image */
  height: auto; /* Garde les proportions de l'image */
}

.skillDescription{
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin-left: 5%;
}

.grid-item-skill>div>h3{
  display: inline-block; /* Permet au fond de s'adapter à la taille du texte */
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  color: white;
  padding: 10px 15%;
  border-radius: 5px; /* Coins arrondis */
}

/* PopUp */
.btn-popup {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.topPopup{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1%;
}

.topPopup>a>img{
  max-width: 80px;
  max-height: 80px;
  padding-left: 1%;
  padding-right: 1%;
  filter: drop-shadow(1px 1px 5px white);
}

/* Contenu de la popup */
.popup-content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  position: relative; /* Assure le positionnement interne */
}

/* Texte contrasté */
.popup-content h3, .popup-content p {
  color: white;
}

.popup-image-group{
  display: flex;
  justify-content: space-around;
  margin-left: 25%;
  width: 50%;
  gap: 1%;
}

/* Bouton de fermeture */
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

/* Image */
.popup-image {
  max-width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

.description-popup{
  text-align: justify;
  line-height: 150%;
}